/* Reseteo y normalizaci칩n de la p치gina  */

* {
  box-sizing: border-box;
  min-width: 0;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

div{
  display: inline-block;
  width: 500px;
  height: 200px;
  border:0.5rem solid chocolate;
  margin-right: 2rem;
  background-image: url("../img/foto1.jpeg");
}

.contenedor2{
  background-size: 250px; /* si se usa 1 valor es para el ancho y el alto calcula autom치ticamente, si queda lugar repite parte de la imagen*/
  background-size: 250px 50px; /* si se usa 2 valores es para el ancho y el alto, si el contenedor es m치s alto que el ancho o alto, repite parte de la imagen*/
}

.contenedor3{
  background-size: contain;
}

.contenedor4{
  background-size: cover;
}


