/* Reseteo y normalición de la página  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
}

body {
  min-height: 100dvh;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

div{
  width: 500px;
  height: 500px;
}

.degradado1{
  background-image: linear-gradient(to bottom left, #fe1,rgba(255,0,0,1),rgb(176, 170, 221)),
  linear-gradient(0.30turn, rgb(54, 108, 37),rgb(39, 28, 187),rgb(192, 38, 156)),
  linear-gradient(20deg, rgb(163, 161, 132),rgb(166, 173, 165),rgb(205, 129, 29));
}

.degradado2{
  background-image: repeating-radial-gradient(circle 15rem at left,  red 10%,blue 35%,yellow 70%,green);
}

.degradado3{
  background-image: repeating-radial-gradient(closest-side at 90% 90%,red 10%,blue 35%,yellow 70%,green);
}

.degradado4{
  /* background-image: conic-gradient(blue 0deg 30deg,red 30deg 120deg,green 120deg 200deg,yellow 200deg); */
  background-image: conic-gradient(from 66deg at 52% 23%, blue 0deg 30deg,red 30deg 120deg,green 120deg 200deg,yellow 200deg);
}