/* Reseteo y normalición de la página  */

* {
  box-sizing: border-box;
  min-width: 0;
}

body {
  min-height: 100dvh;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}


/* DISPLAY */
.span-inline{
  background-color: greenyellow;
  height: 150px; /* no funciona porque el elemento es inline*/
  margin-right: 15px;
  left:100px; /* no funciona porque el elemento tiene position:static*/
}

.parrafo-block{
  background-color: brown;
  width: 500px;
  height: 150px;
  margin-top: 200px;
  margin-bottom: 100px;
  left: 100px; /* no funciona porque el elemento tiene position:static*/
}

.parrafo-inline{
  display: inline;
  background-color: crimson;
  margin-left: 15px;
  padding-left: 150px;
  text-align: left;
}

.span-block{
  display:block;
  background-color: cornflowerblue;
  margin:15px;
  height: 100px;
}

.span-inline-block{
  display:inline-block;
  background-color: rgb(65, 71, 65);
  height: 150px;
  width: 400px;
  margin-top: 50px;
}

.parrafo-none{
  display:none;
  background-color: rgb(0, 139, 139);
  height: 150px;
  margin-top: 50px;
}

li{
  display: inline;
}

.span-list-item{
  display: list-item;
  background-color: rgb(109, 32, 32);
  list-style-position: inside;
}

.contenedor-tabla{
  display: table;
  background-color: blueviolet;
}

.contenedor-row{
  display:table-row;
}

.dato-de-columna{
  display:table-cell;
  font-size: 1.5rem;
  background-color: darkblue;
  font-weight: bold;
}
.dato-de-tabla{
  display: table-cell;
  text-align: center;
}