/* Reseteo y normalición de la página  */

* {
  box-sizing: border-box;
  min-width: 0;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
  position: relative;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.absolute-primero{
  position: absolute;
  background-color: blueviolet;
  font-size: 2rem;
  top:px;
}

/* Al ser static no cambia de lugar */
.static {
  background-color: blue;
  width: 250px;
  height: 150px;
  left: 1000px;
}

.relative-sin-contenedor{
  position: relative;
  background-color: olive;
  width: 500PX;
  height: 150px;
  left: 100px;
  top: 350px
}

.contenedor-para-hijo-relative{
  background-color: green;
}

.relative{
  position: relative;
  background-color: red;
  width: 300px;
  height: 300px;
  /* left: 50%; */
  /* top:300px; */
  right:-500px;
  bottom: -100px;
}

.contenedor-para-hijo-absolute{
  /* position: relative; */
  background-color: brown;
}

.absolute{
  position: absolute;
  background-color: blueviolet;
  font-size: 2rem;
  top:150px;

}
