/* Reseteo y normalición de la página  */

* {
  box-sizing: border-box;
  min-width: 0;
}

body {
  min-height: 100dvh;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a{
  padding-left: 100px;
}

div > p{
  position:fixed;
  background-color: yellow;
  top: 200px
}

.contenedor-fixed{
  position: fixed;
  background-color: olive;
}

.contenedor-fixed-con-left-top{
  position: fixed;
  background-color: brown;
  top: 500px;
  left:120px
}

.parrafo-fixed{
  position: fixed;
  top:120px;
}

.sticky-sin-contenedor{
  position: sticky;
  top:500px;
  left:500px;
  background-color: blue;
  font-size: 1.5rem;
}

.contenedor-sticky{
  background-color: coral;
  width: 500px;
  height: 500px;
}

.sticky-con-contenedor{
  background-color: blueviolet;
  position: sticky;
  top:100px;
}