[disabled]{
  background-color: red;
}

/* [role]{
  background-color: green;
} */

/* [role="article"]::first-line{
  background-color: blue;
} */

/* [type="email"]{
  background-color: aquamarine;
} */

body > input[type="email"]{
  background-color: brown;
}

/* [class="parrafo-importante"]:hover, :not([class])::first-line{
  color:red;
} */

/* [class ^= "par"]{
  color:rgb(66, 66, 201)
} */

/* [class $= "e"]{
  background-color: brown;
}

[class *= "impo"]{
  color:yellow;
} */

/* [class |= "parrafo"]{
  background-color: blue;
} */

[class ~= "parrafo-importante"]{
  background-color: red;
}