[disabled]{
  background-color: red;
}

/* [role]{
  background-color: green;
} */

[role="article"]::first-line{
  background-color: blue;
}

/* [type="email"]{
  background-color: aquamarine;
} */

body > input[type="email"]{
  background-color: brown;
}

