/* div p:nth-child(3){
  background-color: red;
}

p:nth-child(even){
  background-color: blue;
}

p:nth-of-type(even){
  background-color:red;
}

p:nth-of-type(odd){
  background-color:green;
}

p:nth-child(odd){
  background-color: yellow;
} */

/* div p:nth-child(5n){
  background-color: chocolate;
} */

/* p:nth-child(4n+3){
  background-color: chartreuse;
} */

/* p:nth-last-child(3n){
  background-color: blueviolet;
} */

p:nth-last-child(4n+3){
  background-color: crimson;
}

/* p:nth-last-of-type(even){
  background-color: yellow;
} */

p:hover{
  background-color: cornflowerblue;
}
/* a:hover{
  background-color: rgb(207, 50, 181);
} */
a:link{
  background-color: rgb(75, 83, 83);
  font-size: 2rem;
}
a:visited{
  background-color: aquamarine;
}

/* input:focus, textarea:focus, a:focus{
  background-color: red;
} */

input:required{
  background-color: brown;
}
input:optional{
  font-size: 3.5rem;
}
input:read-only{
  letter-spacing: 1.5rem;
}

input:disabled{
  background-color: darkgoldenrod;
}
input:enabled{
  font-size: 2rem;
}
textarea:read-write{
  background-color: blue;
}

textarea:empty{
  font-size: 5rem;
}

input[type="email"]:valid{
  background-color: green;
}

input[type="email"]:invalid{
  background-color: red;
}