p::first-line{
  color:blueviolet
}
p::first-letter{
  color:coral;
  font-size: 1.5rem;
}
p::selection{
  color:crimson;
}
input::placeholder{
  background-color: yellow;
}

li::marker{
  color:blue;
  font-size: 1.5rem;
}

li::before{
  content: "hola ";
}

li::after{
  content:" adios"
}

span::before{
  content: " ANTES DEL SPAN ";
  color:aquamarine
}

span::after{
  content: " DESPUÉS DEL SPAN ";
  color:aquamarine;
}