/* css external */
/* Sintaxis css
selector{
  propiedad: valor;
}
*/


/* #background-blue{
  background-color: rgb(100, 100, 114);
} */

.section1{
  background-color: darkgreen;
  border: 2px solid red;
}

.section2{
  background-color: greenyellow;
}

/* SELECTOR DESCENDIENTES */
section p{
  font-size: 3rem;
}

/* SELECTOR DESCENDIENTES DIRECTOS O HIJOS */
section > p{
  font-size: 1.5rem;
  color:chocolate;
  background-color: brown;
}

/* SELECTOR PRIMER HERMANO HACIA ABAJO */
h1 + p{
  color:brown;
  background-color: rgb(148, 86, 86) !important;
}

/* SELECTOR TODOS LOS HERMANOS HACIA ABAJO */
h1 ~ p{
  color:rgb(206, 29, 29);
  background-color: beige !important;
}

section p:first-child{
  background-color: aquamarine;
}

p:last-child{
  font-size: 0.5rem;
}

p:only-child{
  font-size: 4rem;  
}

:not(p){
  color:hotpink
}



/* p{
  font-size: 2rem;
} */

/* #background-blue:hover, .section1:hover, .section2:hover{
  background-color: darkred;
} */