/* css external */
/* Sintaxis css
selector{
  propiedad: valor;
}
*/


/* #background-blue{
  background-color: rgb(100, 100, 114);
} */

.section1{
  background-color: darkgreen;
  border: 2px solid red;
}

.section2{
  background-color: greenyellow;
}

/* SELECTOR DESCENDIENTES */
section p{
  font-size: 3rem;
}

/* SELECTOR DESCENDIENTES DIRECTOS O HIJOS */
section > p{
  font-size: 1.5rem;
  color:chocolate;
  background-color: brown;
}



/* p{
  font-size: 2rem;
} */

/* #background-blue:hover, .section1:hover, .section2:hover{
  background-color: darkred;
} */