/* Reseteo y normalición de la página  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
}

body {
  min-height: 100dvh;
  background-color: cadetblue;
  width: 50%;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}



body > p{
  background-color: brown;
  width: 10%;
  text-align: center;
}

div{
  width: 50%;
  background-color: darkgreen;
}

div p{
  background-color: chocolate;
  width: 50%;
  /* width: 10%; */
}